.box {
  position: relative;

  background-color: #006a4e;

  width: 380px;

  aspect-ratio: 10 / 6;
}

.circle {
  position: absolute;
  top: 50%;
  left: 45%;

  background-color: #f42a41;

  width: 38%;
  aspect-ratio: 1;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}
